.cozinha{
    margin-top: 20vh;
}

.prontosEcancelados{
    display: flex;
    width: 100vw;
    margin-bottom: 5px;
}

/* .prontosEcancelados .prontos, .prontosEcancelados .cancelados{
    width: 50vw;
} */

.divPoupupFechadoProntosEcancelados{
    border: solid 1px;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
}

.divPoupupFechadoProntosEcancelados p{
    padding: 10px 5px;
    margin-bottom: 0;
}

.cancelados{
    margin-left: 10px;
}

.prontos{
    margin-left: 50px;
}

.bodyCozinha{
    display: flex;
}

.statusPedido{
    width: 32vw;
    margin-left: 0.5%;
    margin-right: 0.5%;
    text-align: center;
    border: solid 1px #818181;
    border-radius: 5px;
    min-height: 75vh;
}

.statusPedido h4{
    background-color: #ff881f;
    color: white;
    padding: 10px 0 10px 0;
}