@import url('https://fonts.googleapis.com/css2?family= Montserrat :wght@900 & display=swap');

body {
    position: absolute;
    top: 20vh;
    left: 50px;
}

.mesas{
    display: flex;
    flex-wrap: wrap;
}

.mesa{
    padding: 40px 0px 40px 0px;
    width: 20vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
   
}

#livre{
    background-color: #3520bd;
}

#indisponivel{
    background-color: #818181;
}

#ocupada{
    background-color: #de3737;
}

#open{
    display: block;
}

#close{
    display: none;
}

.testepp{
    background-color: red;
    border: 2px;
}

.testepp2{
    background-color: #3520bd;
    border: 2px;
    margin-top: 20px;
}

.poupupmesa{
    margin-top: 40px;
}

@media (max-width: 750px){
    .mesas{
        display: block;
    }

    .mesa{
        padding-top: 20px;
        padding-bottom: 10px; 
        border-radius: 10px;
        margin-top: 20px;
        margin-left: 0;
        width: 80vw;
    }
}