@import url('https://fonts.googleapis.com/css2?family= Montserrat :wght@900 & display=swap');

body{
  background-color: #ff881f;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-top: 20px;
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Seunome{
  background-color: transparent;
  border: none;
  border-bottom: 2px;
  text-align: center;

}

h3{
  margin-top: 40px;
}
