.menubar{
    background-color: #000;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

.menubar div{
    width: 33vw;
}

.divLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.divUser{
    text-align: end;
}