.hamburguer-icon {
    cursor: pointer;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
   
  }
  
  .menu-list li {
    padding: 10px;
  }

  .isOpen{
    width: 33vw;
  }